
.retangulo1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    width: 1300px;
    height: 350px;
    margin-top: 80px;
    background-color: blue;
}

.img{
    border-radius: 100%;
}

.textos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
}

.texto1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.texto2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-right: 0;
}

.divcard1 {
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
    text-align: center;	
}

.cards{
    background-color: gray;
	border-radius: 30px;
	margin: 20px;
	width: 252px;
    height: 271px;
    margin-left: 270px;
}

.textodocard{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 100px;
    font-size: 40px;
	font-size: 18px;
	margin-bottom: 20px;

}

.imagemcard{
	width: 80px;
	height: 80px;
}
